.chart-bar__container {
  display: flex;
  min-height: 10rem;
  border-left: 1px solid var(--purple);
}
.teste {
  display: flex;
}
.chart-bar {
  border-bottom: 1px solid var(--purple);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-width: 5rem;
}

.chart-bar__inner {
  height: 100%;
  width: 20px;
  bottom: 0;
  background-color: var(--purple);
  border-radius: 5px 5px 0 0;
}

.chart-bar__fill {
  border-radius: 5px;
  /* border-top: 1px solid var(--black); */
}

.chart-bar__label {
  font-weight: bold;
  font-family: var(--open-sans);
  font-size: 1rem;
  text-align: center;
}

.chart-bar__percentage {
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
}
