button,
.button_animated-container {
  background-color: var(--purple);
  color: var(--white);
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
}
.button_animated-container {
  transition: 0.3s width;
  border-radius: 0.4rem;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
}
.button-text_animated {
  padding: 0.5rem 0.4rem;
}
.button-icon {
  font-size: 1.5rem;
}
.button_icon {
  margin-top: 0.3rem;
}
.button_icon_left {
  margin-right: 0.5rem;
}
.button_icon_right {
  margin-left: 0.5rem;
}
