.form-group {
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 1.5rem;
}
.form-group > * {
  margin: 0;
}
.form-group label {
  margin-left: 0.3rem;
}
.input-icon {
  color: var(--grey);
  opacity: 0.6;
  font-size: 1.2rem;
}
.label {
  color: var(--light-grey);
  font-size: 0.85rem;
}
