@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Poppins:wght@100;200;300;400;500;600&family=Raleway:wght@100;200;300;400;500;600&display=swap");

html {
  /* font-size: 62.5%; */

  /* colors */
  --dark-black: #151515;
  --black: #373737;
  --grey: #5b616a;
  --white: #fbfbff;
  --ghost-white: #f8f7ff;
  --light-grey: #ced3dc;
  /* --purple: #9381ff; */
  --purple: #5e60ce;
  /* --blue: #5e60ce; */
  --light-blue: #62b6cb;
  --red: #bc4749;
  --green: #6a994e;

  /* fonts */
  --raleway: "Raleway";
  --poppins: "Poppins", sans-serif;
  --nycd: "Nothing You Could Do";
  --data-font: var(--raleway);

  /* named colors */
  /* --background: var(--ghost-white); */
  --background: #e5e5e5;
  --text-color: var(--black);
  --title-color: var(--blue);
}
.column,
.row,
.space-between {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
select,
input,
button {
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding: 0.5rem 0.4rem;
  font-family: var(--poppins);
  background-color: white;
}
.credit-card_grid,
.balance_grid,
.credit-card_page_grid {
  display: grid;
}
.row {
  align-items: center;
}
.input-icon,
.subtitle {
  color: var(--grey);
}
.subtitle,
input::placeholder {
  font-weight: 300;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--poppins);
  font-size: var(--normal-font-size);
  background-color: var(--background);
}
.App {
  padding: 1rem 15%;
}
.navbar_container {
  position: fixed;
  background-color: var(--white);
  height: 100vh;
  padding: 4rem 1.5rem;
}
.container {
  background-color: var(--white);
  padding: 2rem 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px var(--light-grey);
  margin: 1rem 0;
}
.navlink {
  background-color: var(--purple);
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.7rem;
  margin: 1rem 0;
}
.navlink a {
  color: var(--white);
}
.column {
  align-items: flex-start;
  flex-direction: column;
}
.line {
  height: 0.1rem;
  width: 40%;
  background-color: var(--light-grey);
}
.credit-card_page_grid {
  gap: 1rem;
  grid-template-columns: 2.2fr 0.8fr;
  min-height: 0;
}
.credit-card_grid {
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.balance_grid {
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.button-icon {
  font-size: 1.5rem;
}
.subtitle {
  color: var(--dark-black);
}
.card_subtitle {
  border-bottom: 2px solid var(--purple);
  width: fit-content;
  margin-bottom: 1rem;
}
.credit-card_invoices_title {
  color: var(--purple);
}
.type_icons {
  font-size: 1.7rem;
  color: var(--white);
  border-radius: 50%;
  padding: 0.1rem;
  margin-top: 0.3rem;
}
