.column,
.row {
  display: flex;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
select,
input,
button {
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  padding: 0.5rem 0.4rem;
  font-family: var(--poppins);
}
.credit-card_grid,
.credit-card_page_grid,
.balance_grid {
  display: grid;
}
.balance_grid {
  grid-template-columns: 3fr 1fr;
  gap: 3rem;
}
.row {
  align-items: center;
}
.title {
  color: var(--grey);
  font-weight: 300;
}
.App,
.navbar_container {
  padding: 0 15%;
}
.container {
  padding: 2.8rem 3.4rem;
  border-radius: 15px;
  box-shadow: 3px 3px 4px var(--light-grey);
  margin: 1rem 0;
  font-size: 1.4rem;
}
.column {
  align-items: flex-start;
  flex-direction: column;
}
.line {
  height: 0.1rem;
  width: 40%;
  background-color: var(--light-grey);
}
.credit-card_page_grid {
  gap: 1rem;
  grid-template-columns: 2.2fr 0.8fr;
  min-height: 0;
}
.credit-card_grid {
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.title {
  color: var(--dark-black);
  font-family: var(--oswald);
  font-size: 3.6rem;
}
.subtitle {
  font-family: var(--oswald);
  color: var(--grey);
  font-weight: 300;
}
.title_number {
  font-size: 3rem;
  font-family: var(--open-sans);
  font-weight: 400;
}
.date-item {
  font-family: var(--poppins);
  font-size: 1.5rem;
  font-weight: 300;
}
.card_title {
  border-bottom: 2px solid var(--less-lime);
  color: var(--dark-black);
  font-family: var(--oswald);
  font-weight: 300;
  font-size: 2.8rem;
  width: fit-content;
  margin-bottom: 1rem;
}
.credit-card_invoices_title {
  color: var(--purple);
}
.type_icons {
  font-size: 3rem;
}
.credit-card-details_description-container {
  display: flex;
  flex-direction: column;
}
.credit-card-details_icon {
  margin-right: 1rem;
  color: var(--purple);
  font-size: 3rem;
}
.activity_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem 0;
  padding: 0rem 0rem 0.8rem 0;
  border-bottom: 1px solid var(--light-grey);
}
.activity_row > * {
  min-width: 18rem;
}
.activity-row_description-item {
  font-size: 1.8rem;
  font-weight: 400;
}
.activity-row_date-item {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--grey);
}
.activity-row_value-item {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: end;
}
.activity-row_icon-item {
  min-width: 1vw;
}
.latest-activities_all-button {
  margin-top: 1.1rem;
  font-family: var(--raleway);
  border-bottom: 1px solid var(--black);
  font-size: 1.6rem;
  float: right;
}
