table {
  width: 100%;
  border-collapse: collapse;
  --table-color: var(--purple);
}
thead th:first-child,
tbody td:first-child {
  border-radius: 0.4rem 0rem 0rem 0.4rem;
}
thead th:last-child,
tbody td:last-child {
  border-radius: 0rem 0.4rem 0.4rem 0rem;
}
tbody tr {
  color: var(--dark-black);
  transition: all 0.2s;
  cursor: pointer;
  border-bottom: 1px solid var(--light-grey);
}
tbody tr:hover {
  background-color: var(--light-grey);
}
td,
th {
  padding: 0.5rem 1rem;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: var(--open-sans);
}
th {
  font-weight: 500;
  font-family: var(--open-sans);
  font-size: 1.2rem;
  background-color: var(--less-lime);
  color: var(--dark-black);
  text-align: left;
}
.balance-header,
.transactions-container {
  display: flex;
  justify-content: space-between;
}
