#navbar {
  display: flex;
  list-style: none;
  /* font-size: var(--subtitle-font-size); */
}

.nav-container {
  font-size: var(--subtitle-font-size);
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

li {
  margin-left: 10rem;
}
