button,
.button_animated-container {
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.button_animated-container {
  transition: 0.3s width;
  border-radius: 0.4rem;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
}
.button-text_animated {
  padding: 0.5rem 0.4rem;
}
