@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Poppins:wght@100;200;300;400;500;600&family=Raleway:wght@100;200;300;400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  /* font-size: 62.5%; */

  /* colors */
  --black: #080f0f;
  --dark-blue: #221e22;
  --white: #faf9f9;
  --grey: #e1e5f2;
  --coral: #ee6c4d;
  --red: #bc4749;
  --dark-green: #386641;
  --green: #6a994e;
  --light-green: #6a994e;

  /* fonts */
  --raleway: "Raleway";
  --poppins: "Poppins";
  --nothing-you-could-do: "Nothing You Could Do";

  /* named colors */
  --background: var(--white);
  --text-color: var(--black);
  --title-color: var(--dark-blue);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--poppins);
  color: var(--text-color);
  font-size: var(--normal-font-size);
  background-color: var(--background);
  padding: 1rem 20%;
}

.container {
  background-color: var(--blue);
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 3rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

ul:nth-child(1) * {
  margin-right: 10px;
}

ul:nth-child(2) * {
  margin-left: 10px;
}

select {
  border: none;
  background-color: var(--grey);
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  color: var(--dark-blue);
  font-family: var(--poppins);
}

input {
  border: none;
  background-color: var(--grey);
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  color: var(--black);
  font-family: var(--poppins);
}

button {
  border: none;
  background-color: var(--black);
  cursor: pointer;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  color: var(--white);
  font-family: var(--poppins);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

select:focus {
  outline: none;
}
input:focus {
  outline: none;
}

.column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
