@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Poppins:wght@100;200;300;400;500;600&family=Raleway:wght@100;200;300;400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  /* font-size: 62.5%; */

  /* colors */
  --dark-black: #151515;
  --black: #373737;
  --grey: #5b616a;
  --white: #fbfbff;
  --ghost-white: #f8f7ff;
  --light-grey: #ced3dc;
  --purple: #9381ff;
  --blue: #275dad;
  --red: #bc4749;
  --green: #6a994e;

  /* fonts */
  --raleway: "Raleway";
  --poppins: "Poppins";
  --nothing-you-could-do: "Nothing You Could Do";

  /* named colors */
  --background: var(--ghost-white);
  --text-color: var(--black);
  --title-color: var(--blue);
}

body,
a,
select,
input {
  color: var(--text-color);
}

.column,
.row,
.form-group,
nav,
ul,
.space-between {
  display: flex;
}

nav,
.space-between {
  justify-content: space-between;
}

select,
input,
button {
  border: none;
  padding: 0.5rem 0.4rem;
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--poppins);
  border-radius: 0.4rem;
  background-color: white;
}

select:focus,
input:focus {
  outline: none;
}

.credit-card_grid,
.balance_grid,
.credit-card_page_grid {
  display: grid;
}

ul,
.row,
.form-group {
  align-items: center;
}

.input-icon,
.subtitle {
  color: var(--grey);
  font-size: 1.2rem;
}

.subtitle,
input::placeholder {
  font-weight: 300;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--poppins);
  font-size: var(--normal-font-size);
  background-color: var(--background);
  padding: 1rem 15%;
}

.container {
  background-color: var(--white);
  padding: 2rem 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px var(--light-grey);
  margin: 1rem 0;
}

h3 {
  font-size: 3rem;
}

ul {
  list-style: none;
}

.navlink {
  margin-right: 1rem;
}

input {
  background-color: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.column {
  align-items: flex-start;
  flex-direction: column;
}

.line {
  height: 0.1rem;
  width: 40%;
  background-color: var(--light-grey);
}

.credit-card_page_grid {
  gap: 1rem;
  grid-template-columns: 2fr 1fr;
}

.credit-card_grid {
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.balance_grid {
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.form-group {
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 1.5rem;
}

.form-group > * {
  margin: 0;
}

.input-icon {
  opacity: 0.6;
}

.button-icon {
  font-size: 1.5rem;
}

.subtitle {
  width: 100%;
}

h2.subtitle {
  font-size: 1.8rem;
  color: var(--dark);
}

.label {
  color: var(--light-grey);
  font-size: 0.85rem;
}
