table {
  font-size: 1.2rem;
  width: 100%;
}

tr {
  background-color: var(--grey);
  color: var(--black);
}

td {
  padding: 0.5rem 1rem;
}

thead tr td {
  font-weight: bolder;
}

.balance-header,
.transactions-container {
  display: flex;
  justify-content: space-between;
}
